.list-container{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    cursor: pointer;
    background-color: var(--mat-sys-primary-container);
    justify-content: space-between;
    .header{
        display: flex;
    }
}